<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Vue beginner</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{header.toLocaleUpperCase()}}</h1>
            <button v-if="state=='default'" class="btn btn-primary" @click="changeState">Add Cart</button>
            <button v-else class="btn btn-cancel" @click="changeState">Cancle</button>
        </div>
        <div v-if="state =='edit'" class="add-item-form">
            <input type="text" v-model="newItem" placeholder="Add new clause" @keyup.enter="pushNewItem">
            <button class="btn btn-primary" :disabled="newItem.length == 0" @click="pushNewItem">Add new</button>
        </div>
        <ul>
            <li v-for="clause in items">{{clause}}</li>
        </ul>
        <h2 v-if="items.length==0">Empty Cart</h2>
    </div>
    <script>
        var boxVue = new Vue({
            el: "#shopping-list",
            data: {
                state: 'default',
                header: 'Okay shopping is shopping',
                newItem: '',
                items: [

                ]
            },
            methods: {
                pushNewItem() {
                    this.items.push(this.newItem);
                    this.newItem = '';
                },
                changeState() {
                    if (this.state == 'default') {
                        this.state = 'edit';
                    } else {
                        this.state = 'default';
                    }
                }
            }
        })
    </script>
</body>

</html>